[branch]
	autosetuprebase = always
[user]
    name = Joyce Zhu
    email = joycezhu@github.com
[color]
	ui = true
[core]
	editor = /opt/homebrew/bin/nvim
	pager = delta --diff-so-fancy | less --tabs=4 -RFX
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "diff"]
	new = yellow bold
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	whitespace = red reverse
[delta]
    features = line-numbers hyperlinks
    plus-style = syntax "#044e03"
    minus-style = syntax "#720204"
    minus-emph-style = syntax bold "#8a1c1e"
    plus-emph-style = syntax bold "#157913"
    syntax-theme = Monokai Extended
    colorMoved = default
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
    grep-file-style = magenta
    grep-line-number-style = yellow
    grep-match-word-style = cyan ul
    grep-separator-symbol = keep
[interactive]
    diffFilter = delta --color-only
[push]
	default = current
    autoSetupRemote = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = yellow bold
	newHighlight = yellow bold 22
[diff-so-fancy]
	stripLeadingSymbols = false
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
	autoStash = true
[diff]
	colorMoved = default
[grep]
	extendRegexp = true
	lineNumber = true
    fullName= true
